@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #F2F3F7;
}

p {
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
  /* padding: 8px 16px 8px 16px; */
}

#root {
  margin: 0%;
  padding: 0%;
}

.textInput {
  font-weight: 500;
  background-color: #ECECEC;
}

.link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.saveBtn {
  background-color: #3876F9;
  color: white;
}

.unselectedBtn {
  background-color: #ECECEC;
  color: #747474;
}

.selectedBtn {
  background-color: #E31837;
  color: white;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button, input {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  margin: 8px;
}

a:hover {
  transition: 0.15ms;
  text-decoration: underline;
}

.saveBtn:hover {
  transition: 0.15s;
  background-color: #5088ff;
}

.unselectedBtn:hover {
  transition: 0.15s;
  background-color: #dad7d7;
}

.selectedBtn:hover{
  transition: 0.15s;
  background-color: #f81a3b;
}

button:active {
  transform: scale(0.98);
}